@charset "UTF8";
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --text-color:white;
  --bg-url:url(./assets/bg-mobile.jpg);
  --stroke-color:rgba(255, 255, 255, 0.5);
  --surface-color:rgba(255, 255, 255, 0.1);
  --surface-color-hover:rgba(255, 255, 255, 0.05);
  --highlight-color: rgb(255, 255, 255, 0.2);
  --switch-bg-url: white  url(./assets/moon-stars.svg) no-repeat center;
}

.light
{
  --text-color:black;
  --bg-url:url(./assets/bg-mobile-light.jpg);
  --stroke-color:rgba(0, 0, 0, 0.5);
  --surface-color:rgba(0, 0, 0, 0.05);
  --surface-color-hover:rgba(0, 0, 0, 0.02);
  --highlight-color: rgb(0, 0, 0, 0.1);
  --switch-bg-url:white  url(./assets/sun.svg) no-repeat center;
}

body, html
{
  /*
  background-color: black;
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  /*agrupando aspropiedades em um unico comando: BACKGOUND*/
  /*ORDEM DAS PROPIEDADES DENTRO DO BACKGROUD*/
  /*backgound/: color image repet position/size*/
  /*Obs: No caso do size temos que colocar uma barra antes*/

  height: 100vh;
  background: var(--bg-url) no-repeat top center/cover;
}

body * 
{
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

#conteiner
{
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

#profile
{
  margin: 56px auto 0px;
  text-align: center;
  padding: 24px;
}

#profile img
{
  width: 112px;
}

#profile p
{
  margin-top: 8px;
  font-weight: 500px;
  line-height: 40px;
}

#switch
{
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button
{
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: var(--switch-bg-url);
  animation: slide-back 0.4s;
}

.light #switch button
{
  animation: slide-in 0.4s forwards;
  /*
  left: initial;
  right: 0;
  */
}

#switch button:hover
{
  outline: 8px solid var(--highlight-color);
}

#switch span
{
  display: block;
  width: 64px;
  height: 24px;
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: var(--surface-color);
}

ul
{
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 24px 0px;
}

ul li a
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 7px;
  padding: 16px 24px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid var(--stroke-color);
  border-radius: 10px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: var(--surface-color);
  transition: backgroud 0.2s;
}

ul li a:hover
{
  border: 1.5px solid var(--text-color);
  background: var(--surface-color-hover);
}

#social-links
{
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 24px 0px;
  font-size: 24px;
}

#social-links a
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%;
  transition: backgroud 0.2s;
}

#social-links a:hover
{
  background: var(--highlight-color);
}

footer
{
  padding: 24px 0px;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 700px)
{
  :root
  {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light
  {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

@keyframes slide-in
{
  from
  {
    left: 0;
  }

  to
  {
    left: 50%;
  }
}

@keyframes slide-back 
{
  from
  {
    left: 50%;
  }

  to
  {
    left: 0;
  }
}